<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      <%= @loan.loan_name %> Details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/loans" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/loans/<%= @loan.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit loan
        </a>
      </div>

      <div class="col">
        <a href="/delete_loan/<%= @loan.id %>" class="btn btn-block btn-outline-secondary">
          Delete loan
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Loan name
      </dt>
      <dd>
        <%= @loan.loan_name %>
      </dd>
      
      <dt>
        Current balance
      </dt>
      <dd>
        <%= number_to_currency(@loan.current_balance) %>
      </dd>

      <dt>
        Original amount
      </dt>
      <dd>
        <%= number_to_currency(@loan.original_amount) %>
      </dd>

      <dt>
        Interest rate
      </dt>
      <dd>
        <%= number_to_percentage(@loan.interest_rate) %>
      </dd>
      
      <dt>
        Minimum Payment
      </dt>
      <dd>
        <%= number_to_currency(@loan.monthly_min_payment) %>
      </dd>

      <dt>
        Periods in year
      </dt>
      <dd>
        <%= @loan.periods_in_year %>
      </dd>

    </dl>
  </div>
</div>

<div>
  <%= line_chart [{name: "Balance", data: @pmt_schedule_chart} , {name: "Adj Balance", data: @adj_pmt_schedule_chart}] %>
</div>

<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      Loan Schedule
    </h1>
  </div>
</div>


<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>

        <th>
          Payment No.
        </th>

        <th>
          Beginning Balance
        </th>

        <th>
          Scheduled Payment
        </th>

        <th>
          Adjusted Payment
        </th>

        <th>
          Interest
        </th>

        <th>
          Ending Balance
        </th>

        <th>
          Cumulative Interest
        </th>

        <th>
          Adj Cumulative Interest
        </th>
      </tr>

     <% @pmt_schedule.each do |schedule| %>
      <tr>

        <td>
          <%= schedule["pmt_no"] %>
        </td>

        <td>
          <%= number_to_currency(schedule["beg_balance"]) %>
        </td>

        <td>
          <%= number_to_currency(schedule["pmt_amt"]) %>
        </td>

        <td>
          <% if @pmt_schedule_adj[schedule["pmt_no"] - 1].blank? %>
            <%= number_to_currency(0) %>
          <% else %>
            <%= number_to_currency(@pmt_schedule_adj[schedule["pmt_no"] - 1]["pmt_amt_adj"]) %>
          <% end %>
        </td>

        <td>
          <%= number_to_currency(schedule["interest"]) %>
        </td>

        <td>
          <%= number_to_currency(schedule["end_balance"]) %>
        </td>
        <td>
          <%= number_to_currency(schedule["cum_int"]) %>
        </td>

        <td>
          <% if @pmt_schedule_adj[schedule["pmt_no"] - 1].blank? %>
            <%= number_to_currency(@pmt_schedule_adj[@pmt_schedule_adj.length-1]["cum_int_adj"]) %>
          <% else %>
            <%= number_to_currency(@pmt_schedule_adj[schedule["pmt_no"] - 1]["cum_int_adj"]) %>
          <% end %>
        </td>
        
      </tr>
    <% end %>
    
    </table>
  </div>
</div>
