<h1>
  Edit Payment Adjustment
</h1>

<hr>

<form action="/update_pmt_adjustment/<%= @pmt_adjustment.id %>" method="post">

  <div class="form-group">
    <label for="payment_occurence">Payment occurence</label>
    <select class="form-control" id="payment_occurence" name="payment_occurence" value=<%= @pmt_adjustment.payment_occurence %> >
      <option <% if @pmt_adjustment.payment_occurence == "Recurring" %> selected <% end%> >
        Recurring
      </option>
      <option <% if @pmt_adjustment.payment_occurence == "One Time" %> selected <% end%> >
        One Time
      </option>
      <option <% if @pmt_adjustment.payment_occurence == "Between" %> selected <% end%> >
        Between
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="loan_id">
      What loan does this apply to? (<a href="/loans/new"> Click here</a> to add a new loan!)
    </label>

    <select class="form-control" id="loan_id" name="loan_id" value=<%= @pmt_adjustment.loan_id %>>
      <% current_user.loans.each do |loan| %>
        <% if loan.id == @pmt_adjustment.loan_id %>
          <option value="<%= loan.id %>" selected><%=loan.loan_name %></option>
        <% else %>
          <option value="<%= loan.id %>"><%=loan.loan_name %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <!--Captures Current User ID for Loan-->
  
  <input type="hidden" id="user_id" name="user_id" class="form-control" value="<%=current_user.id %>">

  <div class="form-group">
    <label for="pmt_adjustment">
      Payment Adjustment
    </label>

    <input type="text" id="pmt_adjustment" name="pmt_adjustment" class="form-control" value=<%= @pmt_adjustment.pmt_adjustment %>>
  </div>

  <div class="form-group">
    <label for="beg_pay_adj">
      Beginning Period for Pay Adjustment
    </label>

    <input type="text" id="beg_pay_adj" name="beg_pay_adj" class="form-control" value=<%= @pmt_adjustment.beg_pay_adj %>>
  </div>

  <div class="form-group">
    <label for="end_pay_adj">
      Ending Period for Pay Adjustment
    </label>

    <input type="text" id="end_pay_adj" name="end_pay_adj" class="form-control" value=<%= @pmt_adjustment.end_pay_adj %>>
  </div>

  <div class="form-group">
    <label for="adjustment_details">
      Adjustment details
    </label>

    <input type="text" id="adjustment_details" name="adjustment_details" class="form-control" value="<%= @pmt_adjustment.adjustment_details %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update payment adjustment
  </button>
</form>

<hr>

<a href="/pmt_adjustments">
  Go back
</a>
